.tmp
.content
gulp-cache
node_modules/
app/bower_components/*/.*
!app/bower_components/*/.bower.json
app/bower_components/**/*.log
app/bower_components/*/test
app/bower_components/*/tests
app/bower_components/*/demo
app/bower_components/*/docs
app/bower_components/*/documentation
app/bower_components/google-prettify/tools
app/bower_components/jszip/lib
app/bower_components/jszip/vendor
app/js/bundle

/build/
/dist/
